@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;


}

.container{
  display: flex;
  align-items: center;
}

.firstSection{
  position: relative;
  min-height: 100vh;
  width: 40%;
  background-image: url(./images/bg-main-desktop.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cards{
  position:absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  right: -400px;
  transform: translate(-50%, -50%);
}
.front_card{
  position: relative;
  transform: translateX(-100px);
}

.card_logo{
  position: absolute;
  top: 30px;
  left: 20px;
}
.card_number{
  color: var(--White);
  position: absolute;
  top: 120px;
  left: 20px;
  letter-spacing: 3px;
}
.cardDetails{
  color: var(--White);
  position: absolute;
  top: 170px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
}

.back_card{
  position: relative;
}
.cvc{
  position: absolute;
  top: 6.7rem;
  right: 3rem;
  color: var(--Lightgrayishviolet);
}

.secondSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
}

.secondSection form{
  display: grid;
  width: 350px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
label{
  font-size: .8rem;
  text-transform: uppercase;
  color: var(--Verydarkviolet);
  margin-bottom: .3rem;
}
input{
  padding: .7rem;
  font-size: .9rem;
  border: 1.2px solid var(--Lightgrayishviolet);
  border-radius: 6px;
}

input::placeholder {
  color: var(--Lightgrayishviolet);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.cardHolderName{
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

.cardNumber{
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
}

form button{
  grid-column: 2 span;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 20px 0;
  border: none;
  color: var(--White);
  background-color: var(--Verydarkviolet);
  border-radius: 5px;
  cursor: pointer;
}

#thankYou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.continue{
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  border: none;
  color: var(--White);
  background-color: var(--Verydarkviolet);
  border-radius: 5px;
  cursor: pointer;
}

.cardDate{
  margin-right: 10px;
}


.date_input{
  display: flex;
}

.date_input input{
  width: 50%;
  margin-right:5px;
}


.btn:hover{
  background-color: hsl(249, 99%, 64%);
}

img,
picture {
  max-width: 100%;
  display: block;
}

.thankYou{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.visibility {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root{
  --activeinputborder: linear-gradient(to right, hsl(249, 99%, 64%) to hsl(278, 94%, 30% ));
  --inputerrors: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Lightgrayishviolet: hsl(270, 3%, 87%);
  --Darkgrayishviolet: hsl(279, 6%, 55%);
  --Verydarkviolet: hsl(278, 68%, 11%);
}